{% extends 'core/layout/base.html' %}
{% load static %}
{% block contenido %}

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Carrito</h5>
                        <div class="text-end">
                            <a href="{% url 'car_cls' %}" class="btn btn-primary btn-block"
                                style="background-color: #cb1111; font-size: smaller;">
                                Limpiar
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Single item -->
                        {% if request.session.carrito.items %}
                        {% for key, value in request.session.carrito.items %}
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">
                                    <img src="{{ value.image }}" class="w-100" alt="{{ value.nombre}}" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{value.nombre}}</strong></p>
                                <!-- <p>Color: blue</p>
                                <p>Size: M</p> -->
                                <a href="{% url 'car_del' value.producto_id %}" class="btn btn-danger btn-sm me-1 mb-2">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <label>Cantidad:</label>
                                <div class="d-flex mb-4 gap-2" style="max-width: 300px">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="{% url 'car_res' value.producto_id %}" class="btn btn-primary">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </div>

                                    <form class="form-outline" method="post">
                                        {% csrf_token %}
                                        <input id="form1" min="0" name="quantity" value="{{value.cantidad}}"
                                            type="number" class="form-control" max="100" />
                                        <input type="hidden" name="product_id" value="{{value.producto_id}}">
                                    </form>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="{% url 'car_add' value.producto_id %}" class="btn btn-primary px-3">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong>{{value.precio}}</strong>
                                </p>
                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->
                        <hr class="my-4" />
                        {% endfor %}
                        <!-- Single item -->
                        {% else %}
                        <div class="alert alert-danger text center">Sin Productos</div>
                        <!-- Single item -->
                        {% endif %}

                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>Aceptamos

                            </strong></p>
                        <img class="me-2" width="45px"
                            src="https://th.bing.com/th/id/OIP.jUue_Hz6nsqdjkLKv9KsMAAAAA?rs=1&pid=ImgDetMain"
                            alt="PayPal acceptance mark" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Resumen</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Productos
                                <span>${{total_carrito}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Gratis</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Monto Total</strong>
                                    <strong>
                                        <p class="mb-0">(IVA incluido)</p>
                                    </strong>
                                </div>
                                <span>${{total_carrito}}</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <span>Total (USD)</span>
                                <span>${{total_carrito_usd}}</span>
                            </li>
                        </ul>

                        <div style="justify-content: center;" class="text-center" id="paypal-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #cb1111;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(203, 17, 17), rgb(252, 170, 37))
    }
</style>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function completeOrder() {
        var url = "{% url 'carrito_completar' %}";

        fetch(url, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                'total': '{{total_carrito}}',
                'total_usd': '{{total_carrito_usd}}',
                'items': '{{request.session.carrito.items}}'
            })
        }).then(response => response.json())
            .then(data => {
                console.log(data);
            });
    }

    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AU3OWDXbWSMlfCscxGPeb1ni-9DOoaBCJBFZja8rI52y5CHWHBcJ4fTrdzTKctJGTCGmDFOk2fHRdgNj',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'es_CL',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill',
        },
        // Enable Pay Now checkout flow (optional)
        commit: true,
        // Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '{{total_carrito_usd}}'.replace(',', '.'),
                        currency: 'USD'
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                // Show a confirmation message to the buyer
                // window.alert('¡Gracias por su compra!');
                return completeOrder();
            });
        }
    }, '#paypal-button');
</script>


{% endblock %}