{% extends 'core/layout/base.html' %}
{% load static %}
{% block contenido %}
<div class="container py-5">
    <h1 class="py-5" style="text-align: center;">¡Gracias por tu compra!</h1>
    {% include 'core/includes/report.html' %}

    <div style="text-align: center;">
        <a href="{% url 'compra_pdf' venta.id %}" style="text-decoration: none;">
            <button>
                Descarga tu boleta
            </button>
        </a>
    </div>
</div>
<style>
    body {
        /* fallback for old browsers */
        background: #cb1111;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(203, 17, 17), rgb(252, 170, 37));
    }

    .container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button {
        border-radius: 20px;
        background: rgb(207, 20, 20);
        color: white;
        padding: 5px 10px;
    }

    button:hover {
        background: rgb(90, 16, 16);
    }
</style>
{% endblock %}