{% extends 'core/layout/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}
{% block contenido %}
<!--INICIO BANNER-->
<section class="hero spad set-bg" data-setbg="{% static 'core/img/hero-bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero__text">
          <div class="hero__text__title">
            <span>Bienvenido</span>
            <h2>Taller Rayo Mackween</h2>
          </div>
          <div class="hero__text__price">
            <div class="car-model">Trabajos Hechos</div>
          </div>

          <a href="{% url 'vehiculos' %}" class="primary-btn more-btn">Listado de Autos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--FIN BANNER-->

<!--DESCRIPCIÓN TALLER-->
<div class="p-5 bg-dark text-white text-center">
  <h1>Trabajos Recientes</h1>
</div>
<!--FIN DESCRIPCIÓN TALLER-->

<!--INICIO CAROUSEL-->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    {% for aux in lista %}
    <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ forloop.counter0 }}" 
    {% if forloop.first %} class="active" {% endif %}></button>
    {% endfor %}
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    {% for aux in lista %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{ aux.image.url }}" alt="" class="d-block mx-auto">
      <div class="carousel-caption">
        <h3>{{ aux.marca }}</h3>
        <a href="{% url 'vehiculos' %}">
          <button type="button" class="btn">Más Información</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <style>
    .carousel-item h3 {
      color: white;
    }
  </style>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<!--FIN CAROUSEL-->


<!--INICIO SERVICIOS-->
<div class="container">
  <section id="Chapters">
    <h2 class="mt-5 text-center">Nuestra Especialidad</h2>
    <div class="row my-5 text-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/caja_de_cambios.webp' %}" alt="" width="300px" height="300px">
        <h4> Cajas de Cambio</h4>
        <p>La caja de cambios es un elemento en los vehículos que se encarga de obtener en las ruedas el par motor,
          suficiente para poner en movimiento el vehículo parado, y una vez en marcha obtener
          un par suficiente en ellas para vencer las resistencias al avance</p>
        <p> Su función es cambiar las relaciones de transmisión para permitir
          que el vehículo acelere y cambie de velocidades adecuadamente.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/electronica_automotriz.gif' %}" alt="" width="300px" height="300px">
        <h4>Electrónica Automotriz</h4>
        <p>La electrónica automotriz es una rama de la ingeniería electrónica que se ocupa
          de los sistemas electrónicos que se utilizan en los vehículos</p>
        <p>La electrónica automotriz es una rama de la ingeniería electrónica que se ocupa
          de los sistemas electrónicos que se utilizan en los vehículos</p>
        <p>La electrónica automotriz también se enfoca en detectar y reparar los fallos del
          circuito eléctrico de carga, arranque, luces y accesorios del vehículo.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/suspencion_y_direccion.jpeg' %}" alt="" width="300px" height="300px">
        <h4>Suspensión y Dirección</h4>
        <p>Las rótulas de dirección: Proporcionan orientación precisa y mantiene la
          estabilidad de la dirección en las curvas.</p>
        <p>Las rótulas de suspensión:
          Permiten un buen movimiento de las piezas de la suspensión. Los brazos y horquillas
          de suspensión: Se fijan a las ruedas, pueden guiarlas y mantenerlas
          en ángulo recto a la superficie de la carretera.</p>
      </div>
    </div>
  </section>
</div>

<!--FIN SERVICIOS-->

<!--SEPARACIÓN-->
<div class="p-1 bg-dark text-white text-center">
</div>
<!--SEPARACIÓN-->
<!-- Chooseus Section Begin -->
<section class="chooseus spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="chooseus__text">
          <div class="section-title">
            <h2>PORQUE ELEGIR ESTE TALLER?</h2>
            <p>Cada uno de nuestros mecánicos aportan con su experiencia y habilidades particulares para realizar un
              servicio completo
              a nuestros clientes. Ellos son los expertos que mantienen nuestros automóviles en movimiento y seguros
              en la carretera.
            </p>
          </div>
          <ul>
            <li><i class=""></i> Contamos con 3 técnicos certificados :
            </li>
            <li><i class="fa fa-check-circle"></i> Experimentado en Caja de Cambios.
            </li>
            <li><i class="fa fa-check-circle"></i> Experimentado en Electronica Automotriz.
            </li>
            <li><i class="fa fa-check-circle"></i> Experimentado en Suspensión y Dirección.
            </li>
          </ul>
          <a href="#" class="primary-btn">Mas Información</a>
        </div>
      </div>
    </div>
  </div>
  <div class="chooseus__video set-bg">
    <img src="{% static 'core/img/chooseus-video.png' %}" alt="">
    <a href="{% static 'core/img/presentacion-video..mp4' %}" class="play-btn video-popup"><i
        class="fa fa-play"></i></a>
  </div>
</section>
<!-- Chooseus Section End -->



<!--INICIO MARCAS-->
<div class="container">
  <section id="Chapters">
    <h2 class="mt-5 text-center">MARCAS</h2>
    <div class="row my-5 text-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/logo_camaro.jp' %}" alt="" width="auto" height="100">
        <h4> CAMARO</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/logo_changan.jpeg' %}" alt="" width="auto" height="100">
        <h4>CHANGAN</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/hyundai-logo.jpg' %}" alt="" width="auto" height="100">
        <h4>HYUNDAI</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/audi_logo.jpeg' %}" alt="" width="auto" height="100">
        <h4>AUDI</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/Chevrolet-logo-5.jpg' %}" alt="" width="auto" height="100">
        <h4>CHEVROLET</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/logo_bmw.jpeg' %}" alt="" width="auto" height="100">
        <h4>B M W</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/renault_logo.jpeg' %}" alt="" width="150" height="100">
        <h4>RENAULT</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/nissan-logo-black.jpg' %}" alt="" width="auto" height="100">
        <h4>NISSAN</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img class="img-50" src="{% static 'core/img/honda_logo.jpg' %}" alt="" width="150" height="100">
        <h4>HONDA</h4>
      </div>
    </div>
  </section>
</div>
<!--FIN MARCAS-->
{% endblock %}