{% extends 'core/layout/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}
<div id="carrusel-contenido">
    <div id="carrusel-caja">
        <div class="carrusel-elemento">
            <img class="imagenes" src="https://i.pinimg.com/originals/f2/ca/8a/f2ca8acda1efd9741e2f67d247fd8733.png">
        </div>
        <div class="carrusel-elemento">
            <img class="imagenes"
                src="https://cdn.autoteilexxl.de/uploads/construct_banner/6819/xxl/39259/banner_image__es.jpg">
        </div>
        <div class="carrusel-elemento">
            <img class="imagenes"
                src="https://th.bing.com/th/id/OIP.pJY7uYZ5gMZBEbv_Co3wjQHaD4?rs=1&pid=ImgDetMain">
        </div>
    </div>

    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        <div class="car__search">
                            <h5>Buscar Producto</h5>
                            <form method="GET">
                                <input class="search_fields" autocomplete="on" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Buscar...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="car__filter">
                            <form action="#">
                                <div class="car__filter__btn">
                                    <button type="submit" class="site-btn">Resetear Búsqueda</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% include 'core/includes/paginator.html' %}
                    <div class="row">
                        {% for producto in page_obj %}
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% if producto.image %}{{ producto.image.url }}{% else %}{% static 'no-img.jpg' %}{% endif %}" alt="" width="300" height="200">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner" style="width: 214px; height: 274px;" >
                                        <div class="card-body" style="width: 194px; height: 230px;">
                                            <h5 class="card-tittle" style="width: 194px; height: 96px;">{{producto.nombre}}</h5>
                                            <p class="card-text">{{producto.categoria}}</p>
                                            <p class="card-text">${{producto.precio|intcomma}}</p>
                                            <a href="{% url 'pro_add' producto.id %}" class="btn btn-primary">Agregar al
                                                carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-lg-12">
                            <p>No hay productos disponibles.</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% include 'core/includes/paginator.html' %}
                </div>
            </div>
    </section>
    <!-- Car Section End -->
</div>

<style>
    h1 {
        text-align: center;
    }

    #carrusel-caja {
        -moz-animation: automatizacion 15s infinite linear;
        -o-animation: automatizacion 15s infinite linear;
        -webkit-animation: automatizacion 15s infinite linear;
        animation: automatizacion 15s infinite linear;

        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;

        height: 300px;
        width: 300%;
    }

    #carrusel-contenido {
        margin: 0 auto;
        overflow: hidden;
        text-align: left;
    }

    .imagenes {
        height: 300px;
        width: 100%;
    }

    .carrusel-elemento {
        float: left;
        width: 33.333%;
    }



    @-moz-keyframes automatizacion {
        0% {
            margin-left: 0;
        }

        30% {
            margin-left: 0;
        }

        35% {
            margin-left: -100%;
        }

        65% {
            margin-left: -100%;
        }

        70% {
            margin-left: -200%;
        }

        95% {
            margin-left: -200%;
        }

        100% {
            margin-left: 0;
        }
    }

    @-webkit-keyframes automatizacion {
        0% {
            margin-left: 0;
        }

        30% {
            margin-left: 0;
        }

        35% {
            margin-left: -100%;
        }

        65% {
            margin-left: -100%;
        }

        70% {
            margin-left: -200%;
        }

        95% {
            margin-left: -200%;
        }

        100% {
            margin-left: 0;
        }
    }

    @keyframes automatizacion {
        0% {
            margin-left: 0;
        }

        30% {
            margin-left: 0;
        }

        35% {
            margin-left: -100%;
        }

        65% {
            margin-left: -100%;
        }

        70% {
            margin-left: -200%;
        }

        95% {
            margin-left: -200%;
        }

        100% {
            margin-left: 0;
        }
    }
</style>



{% endblock %}