{% extends 'core/layout/base.html' %}
{% load static %}
{% block contenido %}
{% include 'core/includes/breadcrumb.html' %}
<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <div class="car__search">
                        <h5>Buscar Vehículo</h5>
                        <form method="GET">
                            {% csrf_token %}
                            <input type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Buscar...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <form action="#">
                            <div class="car__filter__btn">
                                <button type="submit" class="site-btn">Resetear Búsqueda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                {% include 'core/includes/paginator.html' %}
                <div class="row">
                    {% for aux in page_obj %}
                    <div class="col-lg-4 col-md-4">
                        <div class="car__item">
                            <div class="car__item__pic__slider owl-carousel">
                                <img src="{% if aux.image %}{{ aux.image.url }}{% else %}{% static 'no-img.jpg' %}{% endif %}"
                                    alt="" width="300" height="200">
                            </div>
                            <div class="car__item__text">
                                <div class="car__item__text__inner" style="width: 214px; height: 218px;" >
                                    <h5 style="width: 194px; height: 96px;" >{{ aux.modelo }}</h5>
                                    <ul>
                                        <li style="text-align: center;">Marca: {{ aux.marca }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-lg-12">
                        <p>No hay vehículos disponibles.</p>
                    </div>
                    {% endfor %}
                </div>
                {% include 'core/includes/paginator.html' %}
            </div>
        </div>
</section>
<!-- Car Section End -->
{% endblock %}