
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPRA</title>
</head>
<body>
    <style>
        body {
            font-family: verdana;
            font-size: 150%;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
</body>
<h1>GRACIAS POR TU COMPRA</h1>
<a class="nav-link" href="{% url 'pdf' %}">DESCARGAR REPORTE PDF</a>
</html>