<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item {% if 'index' in segment %}active{% endif %}">
      <a class="nav-link gap-2" href="{% url 'dashboard' %}">
        <i class="fa-solid fa-table-cells-large fa-xl"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item {% if 'usuarios' in segment %}active{% endif %}">
      <a class="nav-link gap-2" href="{% url 'dashboard-usuarios' %}">
        <i class="fa-solid fa-users fa-xl"></i>
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
    <li class="nav-item {% if 'productos' in segment %}active{% endif %}">
      <a class="nav-link gap-2" href="{% url 'dashboard-productos' %}">
        <i class="fa-solid fa-boxes-stacked fa-xl"></i>
        <span class="menu-title">Productos</span>
      </a>
    </li>
    <li class="nav-item {% if 'vehiculos' in segment %}active{% endif %}">
      <a class="nav-link gap-2" href="{% url 'dashboard-vehiculos' %}">
        <i class="fa-solid fa-car-side fa-xl"></i>
        <span class="menu-title">Vehículos</span>
      </a>
    </li>
  </ul>
</nav>