{% extends 'core/base.html' %}
{% load static %}
{% block title %} - About{% endblock %}
{% block contenido %}
{% include 'core/includes/breadcrumb.html' %}

<!-- About Us Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title about-title">
                    <h2>Bienvenido a RAYO MACKWEEN <br />Proporcionamos todo lo que necesitas para reparar tu Automóvil
                    </h2>
                    <p>Primera que nada, estamos en una nueva época, la mayoría de personas<br /> maneja un vehículo,
                        por lo tanto tiende a fallar de ves en cuando, en esos casos nosotros actuamos, si tienes un
                        problema ven a nuestro taller,
                        sentirás lo que es una verdadera experiencia</p>
                </div>
            </div>
        </div>
        <div class="about__feature">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="{% static 'core/img/about/af-1.png' %}" alt="">
                        <h5>Sistema de Aseguramiento de la Calidad</h5>
                        <p>La mejor calidad que puedas encontrar, todo asegurado y verificado</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="{% static 'core/img/about/af-2.png' %}" alt="">
                        <h5>Procesos de prueba precisos</h5>
                        <p>Todo esta calificado mediante pruebas, todo certificado</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="{% static 'core/img/about/af-3.png' %}" alt="">
                        <h5>Tecnología de integración de infraestructura</h5>
                        <p>Todo lo nuevo en tecnologías, avanzando siempre un paso mas,
                            creciendo de manera eficiente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="{% static 'core/img/about/about-pic.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <h5>Nuestra Misión</h5>
                    <p>Ayudar a las personas que tengan un problema con su vehículo, de tal manera nosotros
                        brindemos nuestros conocimientos y habilidades para solucionar el error que tenga su vehículo
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <h5>Nuestra Vision</h5>
                    <p>Este es un taller mecánico que combina lo mejor de la tecnología moderna con la habilidad y
                        experiencia de los mecánicos profesionales.
                        Un lugar donde los vehículos se reparan y mantienen con la máxima eficiencia
                        y cuidado. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!--SEPARACIÓN-->
<div class="p-1 bg-dark text-white text-center"></div>
<!--SEPARACIÓN-->

<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team-title">
                    <span>Nuestro Team</span>
                    <h2>Mecánicos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="{% static 'core/img/about/team-1.jpg' %}" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="team__item__text">
                        <h5>Juan Mecánico</h5>
                        <span>Electronica Automotriz</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="{% static 'core/img/about/team-2.jpg' %}" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="team__item__text">
                        <h5>Mario Rodolfo</h5>
                        <span>Caja de Cambios</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="{% static 'core/img/about/team-3.jpg' %}" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="team__item__text">
                        <h5>Pedro Lopez</h5>
                        <span>Suspensión y Dirección</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="{% static 'core/img/about/administrador.jpg' %}" alt=""
                            style="width: 100%; height: 100%;">
                    </div>
                    <div class="team__item__text">
                        <h5>Administrador</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title testimonial-title">
                    <span>Reseñas</span>
                    <h2>Comentarios</h2>
                    <p>Que opina nuestros clientes sobre nosotros</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="{% static 'core/img/testimonial/testimonial-1.png' %}" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Juan Mecánico /<span> Mecánico</span></h5>
                            </div>
                        </div>
                        <p>Es una hermosa experiencia trabajar en este taller, me encanta mi trabajo y lo hago de buena
                            manera, no eh recibido quejas
                            de un cliente.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="{% static 'core/img/testimonial/testimonial-2.png' %}" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Emma Sandoval /<span> Cliente</span></h5>
                            </div>
                        </div>
                        <p>LLeve mi auto por un cambio de luces, el precio estuvo bien, el único problema fue el tiempo
                            ya que
                            se demoraron un poco en atenderme.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="{% static 'core/img/testimonial/testimonial-1.png' %}" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Juan Miranda /<span> Cliente</span></h5>
                            </div>
                        </div>
                        <p>Excelente servicio, precio mas barato de lo usual, y me lleve un sticker de cortesía,
                            lo arreglaron en poco tiempo.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="{% static 'core/img/testimonial/testimonial-2.png' %}" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Camila Arriagada /<span> Cliente </span></h5>
                            </div>
                        </div>
                        <p>Buen servicio, me indicaron el problema, presupuesto, y el tiempo, pude hacer mi rutina
                            normal,
                            confiando en los mecánicos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Counter Begin -->
<div class="counter spad set-bg" data-setbg="{% static 'core/img/counter-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">50</h2>
                    <strong>+</strong>
                    <p>Vehículos Reparados</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">40</h2>
                    <strong>+</strong>
                    <p>Pedidos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">80</h2>
                    <p>Comentarios</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">60</h2>
                    <strong>+</strong>
                    <p>Clientes Felices</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter End -->

<!-- Clients Begin -->
<div class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title client-title">
                    <span>Partner</span>
                    <h2>Marcas Asociadas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/logo_changan.jpeg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/Chevrolet-logo-5.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-2.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-4.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-5.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-6.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'core/img/clients/client-7.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Clients End -->
{% endblock %}