{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="{% static 'core/img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Añadir Vehiculo</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Informacion Auto</a>
                        <span>Añadir Vehiculo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->

<!-- Car Details Section Begin -->

<section class="car-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="car__details__pic">
                    <div class="car__details__pic__large">
                        <img class="car-big-img" src="{% static 'core/img/cars/details/cd-1.jpg' %}" alt="">
                    </div>
                    <div class="car-thumbs">
                        <div class="car-thumbs-track car__thumb__slider owl-carousel">
                            <div class="ct" data-imgbigurl="{% static 'core/img/cars/details/cd-2.jpg' %}"><img
                                    src="{% static 'core/img/cars/details/sm-1.jpg' %}" alt=""></div>
                            <div class="ct" data-imgbigurl="{% static 'core/img/cars/details/cd-3.jpg' %}"><img
                                    src="{% static 'core/img/cars/details/sm-2.jpg' %}" alt=""></div>
                            <div class="ct" data-imgbigurl="{% static 'core/img/cars/details/cd-4.jpg' %}"><img
                                    src="{% static 'core/img/cars/details/sm-3.jpg' %}" alt=""></div>
                            <div class="ct" data-imgbigurl="{% static 'core/img/cars/details/cd-5.jpg' %}"><img
                                    src="{% static 'core/img/cars/details/sm-4.jpg' %}" alt=""></div>
                            <div class="ct" data-imgbigurl="{% static 'core/img/cars/details/cd-6.jpg' %}"><img
                                    src="{% static 'core/img/cars/details/sm-5.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="car__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Detalles Vehiculo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Mantenciones</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <form class="form-add" action="" method="POST" enctype="multipart/form-data"> 
                                                {% csrf_token %}
                                            <ul>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_propietario" class=" requiredField">
                                                        Propietario<span class="asteriskField">*</span> </label>
                                                    <input type="text" name="propietario" maxlength="20"
                                                        class="textinput form-control" required="" id="id_propietario">
                                                </li>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_marca" class=" requiredField">
                                                        Marca<span class="asteriskField">*</span> </label>
                                                </li>
                                                <select name="marca" class="select form-control is-invalid"
                                                    required="" aria-invalid="true" id="id_marca"
                                                    style="display: none;">
                                                    <option value="" selected="">---------</option>
                                                    <option value="1">Changan</option>
                                                    <option value="2">Audi</option>
                                                    <option value="3">Camaro</option>
                                                </select>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_cant_puertas" class=" requiredField">
                                                        Cant puertas<span class="asteriskField">*</span> </label>
                                                    <input type="number" name="cant_puertas" value="0"
                                                        class="numberinput form-control" required=""
                                                        id="id_cant_puertas">
                                                </li>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_cant_pasajeros" class=" requiredField">
                                                        Cant pasajeros<span class="asteriskField">*</span> </label>
                                                    <input type="number" name="cant_pasajeros" value="0"
                                                        class="numberinput form-control" required=""
                                                        id="id_cant_pasajeros">
                                                </li>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_transmision" class=" requiredField">
                                                        Transmision<span class="asteriskField">*</span> </label>
                                                    <input type="text" name="transmision" maxlength="20"
                                                        class="textinput form-control" required="" id="id_transmision">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_capacidad" class=" requiredField">
                                                        Capacidad<span class="asteriskField">*</span> </label>
                                                    <input type="number" name="capacidad" value="0"
                                                        class="numberinput form-control" required="" id="id_capacidad">
                                                </li>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_velo_maxima" class=" requiredField">
                                                        Velo maxima<span class="asteriskField">*</span> </label>
                                                    <input type="number" name="velo_maxima" value="0"
                                                        class="numberinput form-control" required=""
                                                        id="id_velo_maxima">
                                                </li>
                                                <li><i class="fa fa-check"></i>
                                                    <label for="id_image" class="">
                                                        Image
                                                    </label>
                                                    <input type="file" name="image" accept="image/*"
                                                        class="clearablefileinput form-control-file" id="id_image">
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Solo tiene acceso el empleado o administrador-->
                                        <input class="btn btn-danger" type="reset" value="Limpiar">
                                        <input class="btn btn-success" type="submit" value="Guardar">
                                    </form>
                                    <h5>{{ msj }}</h5>
                                </div>
                                </div>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Interior Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Auxiliary heating</li>
                                                <li><i class="fa fa-check-circle"></i> Bluetooth</li>
                                                <li><i class="fa fa-check-circle"></i> CD player</li>
                                                <li><i class="fa fa-check-circle"></i> Central locking</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Safety Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Head-up display</li>
                                                <li><i class="fa fa-check-circle"></i> MP3 interface</li>
                                                <li><i class="fa fa-check-circle"></i> Navigation system</li>
                                                <li><i class="fa fa-check-circle"></i> Panoramic roof</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Extra Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Alloy wheels</li>
                                                <li><i class="fa fa-check-circle"></i> Electric side mirror</li>
                                                <li><i class="fa fa-check-circle"></i> Sports package</li>
                                                <li><i class="fa fa-check-circle"></i> Sports suspension</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Extra Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> MP3 interface</li>
                                                <li><i class="fa fa-check-circle"></i> Navigation system</li>
                                                <li><i class="fa fa-check-circle"></i> Panoramic roof</li>
                                                <li><i class="fa fa-check-circle"></i> Parking sensors</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information2</h5>
                                            <ul>
                                                <li><i class="fa fa-check"></i> Pellentesque lacus urna, feugiat non
                                                    consectetur nec</li>
                                                <li><i class="fa fa-check"></i> Aliquam sem neque, efficitur atero
                                                    lectus vitae.</li>
                                                <li><i class="fa fa-check"></i> Pellentesque erat libero, eleifend
                                                    sit amet felis ido.</li>
                                                <li><i class="fa fa-check"></i> Maecenas eget consectetur quam.
                                                    Vestibulum ligula.</li>
                                                <li><i class="fa fa-check"></i> Praesent lorem sapien, vestibulum
                                                    eget aliquet et.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li><i class="fa fa-check"></i> Pellentesque lacus urna, feugiat non
                                                    consectetur nec</li>
                                                <li><i class="fa fa-check"></i> Aliquam sem neque, efficitur atero
                                                    lectus vitae.</li>
                                                <li><i class="fa fa-check"></i> Pellentesque erat libero, eleifend
                                                    sit amet felis ido.</li>
                                                <li><i class="fa fa-check"></i> Maecenas eget consectetur quam.
                                                    Vestibulum ligula.</li>
                                                <li><i class="fa fa-check"></i> Praesent lorem sapien, vestibulum
                                                    eget aliquet et.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Interior Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Auxiliary heating</li>
                                                <li><i class="fa fa-check-circle"></i> Bluetooth</li>
                                                <li><i class="fa fa-check-circle"></i> CD player</li>
                                                <li><i class="fa fa-check-circle"></i> Central locking</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Safety Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Head-up display</li>
                                                <li><i class="fa fa-check-circle"></i> MP3 interface</li>
                                                <li><i class="fa fa-check-circle"></i> Navigation system</li>
                                                <li><i class="fa fa-check-circle"></i> Panoramic roof</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Extra Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> Alloy wheels</li>
                                                <li><i class="fa fa-check-circle"></i> Electric side mirror</li>
                                                <li><i class="fa fa-check-circle"></i> Sports package</li>
                                                <li><i class="fa fa-check-circle"></i> Sports suspension</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Extra Design</h5>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i> MP3 interface</li>
                                                <li><i class="fa fa-check-circle"></i> Navigation system</li>
                                                <li><i class="fa fa-check-circle"></i> Panoramic roof</li>
                                                <li><i class="fa fa-check-circle"></i> Parking sensors</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Car Details Section End -->

{% endblock %}